{% extends "event/base.html" %}

{% load static %}

{% block slider %}
{% endblock slider %}

{% block content %}
<div class="store-list md:py-20 py-10" style="margin-top: 120px;">
    <div class="container">
        <h1 class="text-3xl font-semibold mb-8">Order Successful!</h1>
        <div class="overflow-x-auto">
            <p>Thank you for your purchase. Your order has been successfully placed.</p>
            <p>Order Reference: {{ order.ref_code }}</p>
            <p>Total Amount: ${{ order.total_amount }} (excluding delivery fees.)</p>
            <p>Status: {{ order.get_status_display }}</p>
            <p>Please note that your order is pending approval from the vendor(s). You will receive a confirmation email once all vendors have approved your order.</p>
            <a href="{% url 'user_orders' %}" class="btn btn-primary mt-4">View Your Orders</a>
        </div>
    </div>
</div>
{% endblock content %}