{% extends "event/base.html" %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 50px">
    <h1>Terms & Conditions</h1>

<p><strong>Last Updated: Jan. 31, 2024, 3:38 p.m.</strong></p>

<h2>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS SITE</h2>

<h3>Who we are and how to contact us</h3>

<p>www.everyeventaus.com.au is a website (Site) operated by Every Event Australia (we, us and our).</p>

<p>To contact us, please email info@everyeventaus.com.au.</p>

<h3>By using our Site, you accept these terms</h3>

<p>By using our Site, you confirm that you accept these terms of use and that you agree to comply with them. If you do not agree to these terms, you must not use our Site.</p>

<h3>We may make changes to these terms</h3>

<p>We amend these terms from time to time. Every time you wish to use our Site, please check these terms to ensure you understand the terms that apply at that time.</p>

<p>These terms were most recently updated on 06/06/2023.</p>

<h3>We may make changes to our Site</h3>

<p>We may update and change our Site from time to time to reflect changes to our products, our users' needs, and our business priorities.</p>

<h3>We may suspend or withdraw our Site</h3>

<p>Our Site is made available free of charge.</p>

<p>We do not guarantee that our Site, or any content on it, will always be available or be uninterrupted. We may suspend or withdraw or restrict the availability of all or any part of our Site for business and operational reasons. We will try to give you reasonable notice of any suspension or withdrawal.</p>

<p>You are also responsible for ensuring that all persons who access our Site through your internet connection are aware of these terms of use and other applicable terms and conditions, and that they comply with them.</p>

<h3>Eligibility to use our Site</h3>

<p>Our Site is directed to users who are 18 years of age or older and are residing in and using this Site within Australia. We do not represent that content available on or through our Site is appropriate for use or available in other locations. If you access our Site from outside Australia, you do at your risk and you are responsible for compliance with laws applicable to your accessing the Site from your location.</p>

<h3>How you may use material on our Site</h3>

<p>We are the owner or the licensee of all intellectual property rights in our Site, and in the material published on it. Those materials are protected by copyright laws and treaties around the world. All such rights are reserved.</p>

<p>You may print off one copy, and may download extracts, of any page(s) from our Site for your personal use and you may draw the attention of others to content posted on our Site.</p>

<p>You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.</p>

<p>Our status (and that of any identified contributors) as the authors of content on our Site must always be acknowledged.</p>

<p>You must not use any part of the content on our Site for commercial purposes without obtaining a license to do so from us or our licensors.</p>

<p>If you print off, copy, or download any part of our Site in breach of these terms of use, your right to use our Site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>

<p>If we provide social media features such as the ability to share content, you may take such actions as are enabled by such features.</p>

<p>You must not delete or alter any copyright, trade mark or other proprietary rights notices from copies of materials from this Site.</p>

<h3>Do not rely on information on this Site</h3>

<p>This Site is provided on an "as is" and "as available" basis, and we make no representations or warranties, express or implied, regarding the operation or availability of the Site.</p>

<p>The content on our Site is provided for general information only. It is not intended to amount to advice on which you should rely.</p>

<p>Although we make reasonable efforts to update the information on our Site, we make no representations, warranties or guarantees, whether express or implied, that the content on our Site is accurate, complete or up to date.</p>

<h3>We are not responsible for websites we link to</h3>

<p>Where our Site contains links to other sites (including banner advertisements and sponsored links) and resources provided by third parties, these links are provided for your information only. Such links should not be interpreted as approval by us of those linked websites or information you may obtain from them. We have no control over the contents of those sites or resources, and you access third party websites entirely at your own risk and subject to the terms and conditions of use for those websites.</p>

<h3>Limitation of liability</h3>

<p>In no event will we, our affiliates or their licensors, service providers, employees, agents, officers or directors be liable for damages of any kind, under any legal theory, arising out of or in connection with your use, or inability to use, our Site, any websites linked to it, any content on our Site or such other websites or any services or items obtained through our Site or such other websites, including any direct, indirect, special, incidental, consequential or punitive damages, including but not limited to, personal injury, pain and suffering, emotional distress, loss of revenue, loss of profits, loss of business or anticipated savings, loss of use, loss of goodwill, loss of data, and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable.</p>

<p>Nothing in this clause affects any liability which cannot be excluded or limited under applicable law. We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes liability for death or personal injury caused by our negligence or the negligence of our employees, agents, or subcontractors and for fraud or fraudulent misrepresentation. Where our liability cannot be excluded, we limit our liability to the fullest extent permitted by the Australian Consumer Law.</p>

<p>You agree to defend, indemnify and hold us, our affiliates, licensors and service providers, and each of their respective officers, directors, employees, contractors, agents, licensors, suppliers, successors and assigns, harmless from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses or fees (including reasonable attorneys' fees) arising out of or relating to your violation of these terms or your use of the Site, including but not limited to, your User Contributions, your use of any information obtained from the Site and any use of the Site's content, services and products other than as expressly authorised in these terms.</p>

<p>Different limitations and exclusions of liability will apply to liability arising from the supply of any products to you, which will be set out in our terms of sale as provided on our Site.</p>

<h3>We are not responsible for viruses</h3>

<p>We do not guarantee that our Site will be secure or free from bugs or viruses.</p>

<p>You are responsible for configuring your technology to access our Site. You should use your own virus protection software.</p>

<h3>Rules about linking to our Site</h3>

<p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it. The website in which you are linking must comply in all respects with the content standards set out in this document.</p>

<p>You must not establish a link in such a way as to suggest any form of association, approval, or endorsement on our part where none exists.</p>

<p>Our Site must not be framed on any other Site, nor may you create a link to any part of our Site other than the home page.</p>

<p>We reserve the right to withdraw linking permission without notice.</p>

<p>If you wish to link to or make any use of content on our Site other than that set out above, please contact info@everyeventaus.com.au.</p>

<h3>Australian law applies to disputes</h3>

<p>These terms of use, their subject matter, and their formation, are governed by the law of the State of South Australia, Australia. You and we both agree that the courts in South Australia, Australia will have exclusive jurisdiction.</p>

<h3>Prohibited uses</h3>

<p>You may use the Site only for lawful purposes and in accordance with these terms. You agree not to use the Site:</p>

<ul>
    <li>in any way that violates any applicable federal, state, local or international law or regulation (including, without limitation, any laws regarding the export of data or software to and from other Countries);</li>
    <li>for the purpose of exploiting, harming or attempting to exploit or harm minors in any way by exposing them to inappropriate content, asking for personally identifiable information or otherwise;</li>
    <li>to transmit, or procure the sending of, any advertising or promotional material (without our prior written consent), including any "junk mail", "chain letter" or "spam" or any other similar solicitation;</li>
    <li>to impersonate or attempt to impersonate us, any of our employees, another user or any other person or entity (including, without limitation, by using email addresses [or screen names] associated with any of the foregoing); or</li>
    <li>to engage in any other conduct that restricts or inhibits anyone's use or enjoyment of the Site, or which, as determined by us, may harm us or users of the Site or expose them to liability.</li>
</ul>

<p>We may report any of the activities above to the relevant law enforcement authorities and we will cooperate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our Site will cease immediately.</p>

<h3>EEA's Role and Obligations</h3>

<ul>
    <li>EEA provides the Platform only, enabling Platform Members to publish Listings and, where relevant, make Requests and take Bookings in response to the published Listings.</li>
    <li>The Platform does not own, create, sell, resell, provide, control, manage, offer, deliver, or supply any Listings or Goods and Services. The Vendors alone are responsible for their Listings and Goods and Services and Users are responsible for their Requests and Bookings.</li>
    <li>The Platform is not and does not become a party to or other participant of, any contractual relationship between Platform Members.</li>
    <li>The Platform has no obligation to any Platform Member to assist or involve itself in any dispute between other Platform Members, although may do so to improve Platform Member experience. This is done at the Platform's sole discretion but is not responsible for a dispute outcome, or a failure to reach one.</li>
    <li>While the Platform may assist facilitate the resolution of disputes, the Platform has no control over and does not guarantee:
        <ol>
            <li>The existence, reliability, quality, safety, suitability, or legality of any Listings or Services;</li>
            <li>The truth or accuracy of any Listing descriptions, Requests or other Platform Member's information placed on the Listing; or</li>
            <li>The provision of Goods and/or performance of Services, or conduct of any Platform Member or third-party, including, but not limited to, the ability of the Vendors to perform tasks or the honesty or accuracy of any information provided by Platform Members or the Users' ability to pay for the Goods/Services requested. The Platform does not endorse any Member, Listing or Goods/Services.</li>
        </ol>
    </li>
    <li>If a Platform Member chooses to use the Platform to connect with the Vendors or Venues, the Platform Member's relationship with the Platform is limited to that of an independent third-party, and not an employee, agent, joint venture or partner of the Platform for any reason.</li>
    <li>Platform Members choosing to use the Platform act exclusively on their own behalf and for their own benefit, and not on behalf, or for the benefit, of the Platform.</li>
    <li>The Platform does not, and shall not be deemed to, direct or control any Platform Member generally or in their performance under these Terms, specifically, including in connection with the provision of their Goods and Services to a User. However, it may require the Vendors to improve its Listing in line with its brand standards.</li>
    <li>The Platform may contain links to third-party websites or resources. The Platform is not responsible or liable for any of the following:
        <ol>
            <li>Availability or accuracy of such third-party services; or</li>
            <li>The content, Goods and Services, or services available from such third-party services.</li>
        </ol>
    </li>
    <li>Links to such third-party services are not an endorsement by the Platform of such third-party services.</li>
    <li>The Platform cannot guarantee the continuous and uninterrupted availability and accessibility of the Platform. The Platform may carry out maintenance measures that ensures the proper or improved functioning of the Platform from time to time.</li>
</ul>

<h3>Use of Platform</h3>

<ul>
    <li>EEA offers its Platform as a place where Users can obtain information about the Goods and Services offered by selected Vendors. For Vendors, the Platform serves as a marketplace.</li>
    <li>EEA's obligation to the Platform Members is to advertise the Vendor's Goods and Services on the Platform. EEA is not a provider of Goods and Services by the Vendors, and has no control over the Goods and Services supplied. We do not endorse or recommend any Vendor.</li>
    <li>All transactions between the Vendors and Users are subject to the terms and conditions imposed by Vendors.</li>
</ul>

<h3>Delivery fees</h3>

<p>All delivery fees will be automatically added during the checkout based on your events date and location.</p>

<h3>Delivery orders</h3>

<p>You will be required to enter in your event's date, location and time. Your order will be fulfilled according to your event details. The vendor will notify you of any adjustments to your delivery and setup.</p>

<h3>Pickup orders</h3>

<p>You will be required to enter in your event's date. Your order will be fulfilled according to your event details and you will be notified when your order is ready for collection.</p>

<h3>Returns and Refunds</h3>

<p>All refund/return/cancellation policies are subject to the Vendors terms and conditions where the User will be required to review and sign the Vendors terms and conditions prior to placing an order. For any refund matters where a return policy/ terms and conditions is questioned by the User, this is to be handled and carried out between the Vendor and User. EEA has no obligation to assist or involve itself in any dispute between Platform Members.</p>

<h3>Other terms and conditions</h3>

<p>Additional terms and conditions may also apply to specific portions, services or features of the Site. All such additional terms and conditions are incorporated by this reference into these terms.</p>

<p>For access to our Vendor Merchant Terms and Conditions, please click <a href="https://drive.google.com/file/d/1m2RvgLpY27IffyHmb11MkfwgWImAIIqv/view?pli=1" target="_blank">here</a></p>

<p><strong>Date: 31/01/2024</strong></p>

</div>
{% endblock content %}