{% extends "event/base.html" %}

{% load static %}

{% block slider %}

{% endblock slider %}

{% block content %}
<!-- SECTION 1-->
<section class="section-holder" style="margin-top: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div id="contact-form-holder">
                    <form method="post" id="contact-form" action="{% url 'reset_password' %}">
                        {% csrf_token %}
                        <div class="row margin-b24">
                            <div class="col-md-12 margin-bm24"><input type="email" name="email" class="comm-field" placeholder="Email" required/></div>
                        </div>
                        <p><input type="submit" value="Reset Password" id="submit"/></p>
                    </form>
                </div>
                <!-- contact-form-holder-->
                <div id="output-contact"></div>
            </div>
            <!-- /col-lg-6 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- /SECTION 1-->
{% endblock content %}