{% extends "event/base.html" %}

{% load static %}

{% block slider %}

{% endblock slider %}

{% block content %}
<!-- SECTION 1-->
<section class="section-holder" style="margin-top: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2 class="section-title margin-b32">Password reset link sent</h2>
                <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
            </div>
            <!-- /col-lg-6 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- /SECTION 1-->
{% endblock content %}